* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}
:root {
    --primary-color: rgba(16, 55, 92, 1);
}
.container {
    width: 1140px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}

 /* Header */
.header {
    min-height: 100vh;
    background: var(--primary-color);
}
.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
    gap: 0.6em;
}

.logo__circle::before, 
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color:rgba(46, 128, 206, 1);   
}
.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: rgba(255, 255, 255, 1);
}
.logo__text {
    color:rgba(255, 255, 255, 1);
    text-align: right;
}
.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1em;
}
.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}